@model IEnumerable<CoreEmployeMVC.Models.Detail>

@{
    ViewData["Title"] = "TotalOTHr";
}

<h1>TotalOTHr</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Total_OT_Hourse)
            </th>
           
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Total_OT_Hourse)
            </td>
        
           
        </tr>
}
    </tbody>
</table>
